:root{
    --pink:#e84393;
    
    --purple:#ae27ba;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-transform: capitalize;
    transform: .2s linear;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    

}
html{
    font-size: 62%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
.heading{
    font-size: 3rem;

}
section{
    padding: 2rem 9%;
}
.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .05);

}
.heading span{
    color:var(--pink);



}


header{
  position: fixed;
  top: 0;left:0 ;right: 0;
  background: #fff;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  

}
.logo{
    width: 100px;
    border-radius: 50%;
}
header .menu ul li {
     display: inline-block;
     font-size: 2rem;
     padding: 0 1.5rem;
     
}
header .menu ul li a{
    color: #A68A97;
    align-items: center;

}
header .menu ul li a:hover{
    color: black;
}
header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}
header .icons a:hover{
    color:#ae27ba;
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background:url(../bookgrand.jpg) no-repeat;
    
    
    background-size: cover;
    background-position: center ;
}
.home .content{
    max-width: 50rem;
}
.home .content h3{
    font-size: 6rem;
    color: #333;
}
.home .content span{
    font-size: 3.5rem;
    color: var(--pink);
    padding: 1rem 0;
    line-height: 1.5;

}
.home .content p{
    font-size: 3.5rem;
    color: #999;
    padding: 1rem 0;
    line-height: 1.5;
}
.ABOUT .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
.ABOUT .row .video-contain{
    flex: 1 1 40rem;
    position: relative;
}
.ABOUT .row .video-contain video {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
}
.ABOUT .row .video-contain h3{
    position: absolute;
    top:50%;transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}
.ABOUT .row .content{
    flex: 1 1 40rem;

}
.ABOUT .row .content h3{
    text-align: right;/**/
    font-size: 3rem;
    color: #333;
}
.ABOUT .row .content p{
    text-align: right;/* use one contextual selector*/
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 3rem;/** كان 1 وكتبته ثلاثه*/
    line-height: 1.5;
}
/* هذا شي جديددددددددددددددددددددددددددددددددددددددددددددددددددددددددددددددددددددد*/
a:link{
    color: gold;
    text-decoration-color:hotpink ;

}

.products .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
    
}
.products .box-container .box{
    
    margin-left: 2rem;
    text-align: center;
    float: 1 1 30rem;
    box-shadow: 0  .5rem 1.5rem rgba(122, 91, 91, 0.1);
    border-radius: .5rem;
    border:1rem solid rgba(0, 0, 0, .1);
    position: relative;
}
.products .box-container .box .image{
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}
.products .box-container .box .image img{
    width: 25rem;
    height: 25rem;
}
.products .box-container .box:hover .image img{
   transform: scale(1.1);

}
.products .box-container .box .content{
    text-align: center;

    display: flex;
    padding: 2rem;
}
.products .box-container .box .content h3{
    display: flex;
    font-size: 2rem;
    color: #e0709fba;
  
}

.show{display: block;}

.text-box{

    /*width: 20px;*/
    color: #250517;
    position: absolute;
    top:5px;
    left:5px;
    transform: translate(-50%,-50%);
    text-align: center;


}
.text-box h1{ 
    font-size: 62px;

}
.text-box p{
    margin:10px 0 40px;
    font-size: 30px;
    color: #fff;


}
#table{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;


}
#table  h1{
    font-size:36px;
    font-width:600;

}
#table p{

   color: #777;
   font-size: 14px;
   font-width:300;
   line-height: 22px;
   padding: 10px;




}
#table .row{
   margin-top: 5%;
   display: flex;
   justify-content: space-between;

}

#table .book-col{
   flex-basis: 31%;
   background: #fff3f3;
   border-radius: 10px;
   margin-bottom: 5%;
   padding: 10px 10px;
   box-sizing: border-box;

}
#table h3{
  text-align: center;
  font-width:600;
  margin: 10% 0;

}
#table .book-col:hover{
   box-shadow: 0 0 20px 0px rgba(0,0,0,0.2)

}
.CONTACT .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    text-align: center;
}
.CONTACT .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem ;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
}
.CONTACT .row .image{
    flex: 1 1 40rem;

}
.CONTACT .row .image img{
    width: 100%;
    float:right;
}
.CONTACT .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}
.CONTACT .row form .btn{
    border-radius: .8rem;
    border: .3rem solid rgba(0, 0, 0, .1);
    background-color: #871dbc71;

    

}
.CONTACT .row form .btn:focus{
    border-color: var(--pink);
}
.CONTACT .row form textarea{
    height: 15rem;
    resize: none;
}


.BLOG .row{
    
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
/*inline*/




.footer .box-container{
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
   /* background-color: rgb(245, 207, 247);/*/
    

    
}
.footer .box-container .box{
    flex: 1 1 25rem;
}
.footer .box-container .box h3{
    margin-top: auto;

    /*padding-right: 4rem;*/
    margin-right: 20rem;
    color: #333;

    font-size: 2rem;
    padding: 1rem 0;
}
.footer .box-container .box a{
    margin-right: auto;
   display: block;
   color: rgba(133, 22, 92, 0);
   font-size: 2rem;
   padding: 1rem 0;
}
.footer .box-container .box a:link{
    
    color: #871dbc71;
    text-decoration-color: hotpink;

}
.footer .box-container .box a:hover{
    color: #ae27ba;
    text-decoration: underline;
}
.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top:2.5rem ;
    font-size: 2rem;
    color: #333;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}
.footer .credit span{
    color: #A68A97;
}


/*
.content::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height:100% ;
    background: #130f40;
}
height: 100vh;
    width: 100%;
        top: 100px;
  background: #fff;



    color: #000;

ul li a{


    text-decoration: none;
    letter-spacing: 4px;
    font-size: 20px;
    font-size: 20px;
    color: #8113d5;
    padding: 36px 10px;
    margin: 0 9px;
    font-weight: 500;



ul li{
    display: inline-block;
align-items: center;
text-decoration: none;
line-height: 100px;
../Downloads/book1/.jpg